<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yigotone.app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.WRITE_CALL_LOG" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <uses-permission android:name="com.yigotone.app.permission.MIPUSH_RECEIVE" />

    <permission
        android:name="com.yigotone.app.permission.MIPUSH_RECEIVE"
        android:protectionLevel="signature" />


    <application
        android:name="com.yigotone.app.application.MyApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name="com.yigotone.app.ui.activity.SplashActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--免打扰设置-->
        <activity
            android:name=".ui.activity.NoDisturbActivity"
            android:screenOrientation="portrait" />
        <!--主页-->
        <activity
            android:name=".ui.activity.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <!--忘记密码-->
        <activity
            android:name=".ui.activity.ForgetPwdActivity"
            android:screenOrientation="portrait" />
        <!--注册-->
        <activity
            android:name="com.yigotone.app.ui.register.RegisterActivity"
            android:screenOrientation="portrait" />
        <!--登录-->
        <activity
            android:name="com.yigotone.app.ui.login.LoginActivity"
            android:screenOrientation="portrait" />
        <!--拨号盘-->
        <activity
            android:name=".ui.activity.DialActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <!--订购套餐-->
        <activity
            android:name=".ui.packages.PackageListActivity"
            android:screenOrientation="portrait" />
        <!--套餐详情-->
        <activity
            android:name=".ui.packages.PackageDetailActivity"
            android:screenOrientation="portrait" />
        <!--用户协议-->
        <activity
            android:name=".ui.setting.UserProtocolActivity"
            android:screenOrientation="portrait" />
        <!--联系人详情-->
        <activity
            android:name=".ui.contact.ContactDetailActivity"
            android:screenOrientation="portrait" />
        <!--设置-->
        <activity
            android:name=".ui.setting.SettingActivity"
            android:screenOrientation="portrait" />
        <!--关于-->
        <activity
            android:name=".ui.setting.AboutUsActivity"
            android:screenOrientation="portrait" />
        <!--语音账户-->
        <activity
            android:name=".ui.setting.VoiceAccountActivity"
            android:screenOrientation="portrait" />
        <!--订单-->
        <activity
            android:name=".ui.order.OrderActivity"
            android:screenOrientation="portrait" />
        <!--支付结果-->
        <activity
            android:name=".ui.activity.PayResultActivity"
            android:screenOrientation="portrait" />
        <!--通话-->
        <activity
            android:name=".ui.call.CallActivity"
            android:screenOrientation="portrait" />
        <!--新设备登录-->
        <activity
            android:name=".ui.login.NewDeviceLoginActivity"
            android:screenOrientation="portrait" />
        <!--通话详情-->
        <activity
            android:name=".ui.home.CallDetailActivity"
            android:screenOrientation="portrait" />
        <!--短信详情-->
        <activity
            android:name=".ui.message.MessageDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <!--新建短信-->
        <activity
            android:name=".ui.message.NewMessageActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <!--通讯录-->
        <activity
            android:name=".ui.contact.ContactActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />


        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":locservice" />

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="zixAcauKrZ9VQ195VLolezOXYXTtD9u2" />

        <meta-data
            android:name="com.ebupt.ebjar.DOMAIN"
            android:value="yibuTest.com" />
        <meta-data
            android:name="com.ebupt.ebauth.APPKEY"
            android:value="aahyAYCRZWGnIAIy5XehnSHpOnydWZ5M" />
        <meta-data
            android:name="com.ebupt.ebauth.APPSECRET"
            android:value="sVj4eQMCyzZupUFb5AWzvUmQmeu3iPTT" />


        <!-- Mi -->
        <service android:name="com.yigotone.app.mipush.MtcService" />
        <service
            android:name="com.xiaomi.push.service.XMPushService"
            android:enabled="true"
            android:process=":pushservice" />
        <service
            android:name="com.xiaomi.mipush.sdk.PushMessageHandler"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name="com.xiaomi.mipush.sdk.MessageHandleService"
            android:enabled="true" />
        <!-- 注：此 service 必须在 2.2.5 版本以后（包括 2.2.5 版本）加入 -->
        <receiver
            android:name="com.xiaomi.push.service.receivers.NetworkStatusReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.xiaomi.push.service.receivers.PingReceiver"
            android:exported="false"
            android:process=":pushservice">
            <intent-filter>
                <action android:name="com.xiaomi.push.PING_TIMER" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.justalk.cloud.juspush.MiPushMessageReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.xiaomi.mipush.RECEIVE_MESSAGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.xiaomi.mipush.ERROR" />
            </intent-filter>
        </receiver>
    </application>
</manifest>