<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yigotone.app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />

    <application
        android:name="com.yigotone.app.application.MyApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name="com.yigotone.app.ui.login.LoginActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--免打扰设置-->
        <activity
            android:name=".ui.activity.NoDisturbActivity"
            android:screenOrientation="portrait" />
        <!--主页-->
        <activity
            android:name=".ui.activity.MainActivity"
            android:screenOrientation="portrait" />
        <!--忘记密码-->
        <activity
            android:name=".ui.activity.ForgetPwdActivity"
            android:screenOrientation="portrait" />
        <!--注册-->
        <activity
            android:name="com.yigotone.app.ui.register.RegisterActivity"
            android:screenOrientation="portrait" />
        <!--拨号盘-->
        <activity
            android:name=".ui.activity.DialActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <!--订购套餐-->
        <activity
            android:name=".ui.packages.SubScribePackageActivity"
            android:screenOrientation="portrait" />
        <!--套餐详情-->
        <activity
            android:name=".ui.packages.PackageDetailActivity"
            android:screenOrientation="portrait" />
        <!--用户协议-->
        <activity
            android:name=".ui.setting.UserProtocolActivity"
            android:screenOrientation="portrait" />
        <!--联系人详情-->
        <activity
            android:name=".ui.contact.ContactDetailActivity"
            android:screenOrientation="portrait" />
        <!--设置-->
        <activity
            android:name=".ui.setting.SettingActivity"
            android:screenOrientation="portrait" />
        <!--关于-->
        <activity
            android:name=".ui.setting.AboutUsActivity"
            android:screenOrientation="portrait" />
        <!--语音账户-->
        <activity
            android:name=".ui.setting.VoiceAccountActivity"
            android:screenOrientation="portrait" />
        <!--订单-->
        <activity
            android:name=".ui.order.OrderActivity"
            android:screenOrientation="portrait" />
        <!--支付结果-->
        <activity
            android:name=".ui.activity.PayResultActivity"
            android:screenOrientation="portrait" />
        <!--通话-->
        <activity
            android:name=".ui.call.CallActivity"
            android:screenOrientation="portrait" />
        <!--新设备登录-->
        <activity
            android:name=".ui.login.NewDeviceLoginActivity"
            android:screenOrientation="portrait" />
        <!--短信详情-->
        <activity
            android:name=".ui.activity.MessageDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
    </application>

</manifest>